@import "vars.scss";
@mixin fl_row {
    display: flex;
    flex-direction: row;
}

@mixin fl_col {
    display: flex;
    flex-direction: column;
}

@mixin box_view($applyPadding: false, $applyBorderRadius: true) {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    background-color: white;
    color: $grey-dark;
    @if $applyPadding==true {
        padding: 1.25rem;
    }
    @if $applyPadding==true {
        border-radius: 6px;
    }
}

#app {
    min-width: 100vw;
    min-height: 100vh;
}

nav.navbar {
    .navbar-item img {
        max-height: none;
        &+span {
            margin-left: .75rem;
            font-weight: bold;
        }
    }
}

.turbolinks-progress-bar {
    height: 5px;
    background-color: $info;
}

img.is-rounded {
    border-radius: 50%;
}

p.help {
    &.is-grey {
        color: $grey;
    }
}

.image.is-cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.form-login-register {
    >section.logo-wrp {
        text-align: center;
        margin-bottom: 1.5rem;
        img {
            width: 128px;
            height: 128px;
        }
    }
}

.empty-states {
    @include fl_row();
    >p {
        flex: 1;
    }
    >span {
        margin-right: .75rem;
    }
    &.is-vertical {
        @include fl_col();
        text-align: center;
        span {
            font-size: 80px;
            margin: 0 0 .75rem 0;
        }
    }
}

.login-page {
    padding: 2rem 0;
    width: 500px;
    height: 100%;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    display: flex;
    section {
        width: 100%;
        &:last-child {
            margin-top: 1.5rem;
        }
    }
}

.home-page {
    .column .box {
        position: relative;
        padding: .75rem;
    }
    .file-upload-wrp {
        @include fl_row();
        label.upload.control:not(:only-child) a {
            border-color: $grey-lighter;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        span.file-name {
            flex: 1;
            border-color: $grey-lighter;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .column {
        &.is-two-thirds .bt-load {
            @include box_view();
            width: 100%;
        }
        &:not(.is-two-thirds) .box {
            .bt-load,
            .bt-upload {
                border-radius: 0;
                width: 100%;
                border-top: 1px solid $grey-lighter;
                box-shadow: none;
                margin-top: .75rem;
                color: $grey-dark;
            }
        }
    }
    .photo-view {
        overflow: auto;
        position: relative;
        .image {
            cursor: pointer;
            float: left;
            position: relative;
            width: 30%;
            padding-bottom: 30%;
            margin: 1.66%;
            position: relative;
            img {
                position: absolute;
            }
        }
    }
}

.common-editor {
    background: white;
    padding: 1rem;
    >.field {
        margin: -1rem -1rem 1rem;
        padding: .75rem;
        background-color: white;
        &:last-child {
            p {
                text-align: right;
            }
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    .menubar {
        margin: -1rem -1rem .5rem;
        padding: 1rem 1rem;
        background-color: $grey-lighter;
        &.is-fixed {
            position: fixed;
            top: 15px;
        }
        .button {
            padding-bottom: calc(0.375em - 1px);
            padding-left: calc(0.625em - 1px);
            padding-right: calc(0.625em - 1px);
        }
        label.upload.control input {
            height: 36px;
            width: 36px;
            top: 0;
            z-index: 1;
            cursor: pointer;
        }
    }
    .editor {
        .menubar .button.is-active {
            background-color: $grey-dark;
            color: white;
            i {
                color: white;
            }
        }
        position: relative;
        div[contenteditable="true"] {
            min-height: 250px;
        }
        &+.field {
            border-top: 1px solid $grey-lighter;
            margin-top: .75rem;
            padding-top: .75rem;
        }
        .editor__floating-menu {
            &.opacity-0 {
                opacity: 0 !important;
            }
            position: absolute;
            margin-top: -0.25rem;
            visibility: hidden;
            opacity: 0;
            &:not(.opacity-0) {
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
        pre {
            &::before {
                content: attr(data-language);
                text-transform: uppercase;
                display: block;
                text-align: right;
                font-weight: bold;
                font-size: 0.6rem;
            }
            code {
                .hljs-comment,
                .hljs-quote {
                    color: #999999;
                }
                .hljs-variable,
                .hljs-template-variable,
                .hljs-attribute,
                .hljs-tag,
                .hljs-name,
                .hljs-regexp,
                .hljs-link,
                .hljs-name,
                .hljs-selector-id,
                .hljs-selector-class {
                    color: #f2777a;
                }
                .hljs-number,
                .hljs-meta,
                .hljs-built_in,
                .hljs-builtin-name,
                .hljs-literal,
                .hljs-type,
                .hljs-params {
                    color: #f99157;
                }
                .hljs-string,
                .hljs-symbol,
                .hljs-bullet {
                    color: #99cc99;
                }
                .hljs-title,
                .hljs-section {
                    color: #ffcc66;
                }
                .hljs-keyword,
                .hljs-selector-tag {
                    color: #6699cc;
                }
                .hljs-emphasis {
                    font-style: italic;
                }
                .hljs-strong {
                    font-weight: 700;
                }
            }
        }
    }
}

.todo-item {
    .content {
        .field {
            @include fl_row();
            margin-top: 1rem;
            span:not(:last-child) {
                margin: 0 .5rem;
            }
        }
    }
}

.todo-page,
.setting-page,
.home-page {
    background-color: $white-ter;
    min-height: 100vh;
    .columns {
        max-width: 1024px;
        margin: 0 auto;
    }
    .nav-wrp {
        width: 100%;
        overflow: auto;
        display: block;
        background: white;
        margin-bottom: 1rem;
        @include box_view(false, false);
        nav {
            margin: 0 auto;
            max-width: 1024px;
        }
    }
}